# Ver mais em https://help.github.com/articles/ignoring-files/

# Dependências
/node_modules
/.pnp
.pnp.js

# Testes
/coverage

# Produção
/build

# Configurações locais e de ambiente
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache e temporários
*.log
*.cache
*.tmp
*.bak

# Sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini

# Outras pastas de build ou configs
/.eslintcache
/.parcel-cache
/.turbo
/.next
out/
dist/
